:root {
    --light-pink: #b275a6;
    --pink: #540640;
    --light-gray: #a4a4a4;
}


.action-button{
  display: flex;
  padding: 0.5rem 1rem;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-size: 1rem;
  font-weight: 500;
  align-items: center;
  height:32px;
  min-width:140px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.05s ease-in-out;
  min-width: 120px;
}

.action-button.light-pink{
    background-color:  var(--light-pink);
    border: 2px solid  var(--light-pink);
}
.action-button.pink {
    background-color: var(--pink);
    border: 2px solid  var(--pink);
}

.action-button.light-gray{
    background-color: var(--light-gray);
    border: 2px solid var(--light-gray);
}

.action-button:hover{
    background-color: transparent;
}
.action-button.light-pink:hover{
    color: var(--light-pink);
}
.action-button.pink:hover{
    color: var(--pink);
}
.action-button.light-gray:hover{
    color: var(--light-gray);
}



.transparent-add-button {
    background-color: transparent;
    width: 100%;
    border: 2px dashed #b0b0b0;
    color: #b0b0b0;
    padding: 0rem 1rem;
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.05s ease-in-out;
}
.transparent-add-button:hover,
.transparent-add-button:focus {
    /* animation that makes dashed lines spin */
    /* border: 2px solid ; */
    border: 2px dashed var(--light-pink);
    color: var(--light-pink);

}

.icon-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height:24px;
    width: 24px;
    outline:0;
    border: 0;
    cursor: pointer;
    transition: color 0.05s ease-in-out;
}

.icon-button:hover,
.icon-button:focus{
    color: var(--light-pink);
}

.logout-btn{
    height:24px;
    width: 24px;
    margin:0;
    background-color: transparent;
    outline: 0;
    border: 0;
    padding:0;
    color:white;
    cursor: pointer;
}


.logout-btn:hover,
.logout-btn:focus{
    color: var(--light-pink);
}