:root{
    --footer-bg-color: #b275a6;
    --footer-text-color: white;
}

.footer-wrapper{
    background-color: var(--footer-bg-color);
    margin:0;
    padding: 0;
    width: 100%;
    display: flex;
}
footer{
    color: var(--footer-text-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px 80px;
}
.footer-row{
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex:1;
}

.footer-logo {
    height: 48px;
    justify-content: space-around;
    object-fit: contain;
}
.footer-logo.beet-logo {
    /* crop  */
    object-fit: cover;
    object-position: 0% 40%;
    width: 100px;
    height: 40px;
}

.footer-col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:8px;
    flex: 1;
    margin:24px 0;
    max-width: 360px;
}
hr.solid {
  border-top: 1px solid #ffffff;
  width: 100%;
}

footer a{
    color: var(--footer-text-color);
}

.footer-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.copyright-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.copyright-row > p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9rem;
    margin: 0;
    text-align: center;
}


@media screen and (max-width: 768px) {
    footer{
        padding:32px 40px;
    }
    .footer-row-content {
        flex-direction: column;
        align-items: center;
        gap:16px;
    }
    .footer-row-content> .footer-col {
        align-items: center;
    }
    .footer-col {
        max-width: 100%;
        text-align: center;
        margin: 4px;
        gap:2px;
    }
    .footer-contact{
        flex-direction: column;
        margin:16px;
        gap:16px;
    }
}

.card-logos-container{
    display: flex;
    gap:16px;
    margin: 8px 0;
}
.card-logos-container>img{
    height:24px;
    width:auto;
    object-fit: contain;
}


@media screen and (max-width: 1024px) {

    .card-logos-container{
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .copyright-row {
        flex-direction: column;
    }
    .copyright-row > p {
        width: 100%;
        position: relative;
        margin-top: 16px;
    }
}

@media screen and (max-width: 768px) {
    .card-logos-container>img{
        height:16px;
    }
}