.input-container {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
    width: 100%;
    cursor:text;
}

.input-container>label{
	color: #8597a3;
	top: 1rem;
	transition: 0.25s ease;
    cursor:text;
}


.number-input-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:32px;
}

.number-input{
    width: 10%;
	border: 0;
    flex: 0.4;
    text-align: center;
    outline: 0;
	background-color: transparent;
	z-index: 1;
	font: inherit;
	border-bottom: 2px solid #eee;
}

.number-input:focus,
.number-input:valid {
    outline: 0;
    border-bottom-color: var(--light-pink);
}
.number-input:invalid {
    border-bottom-color: red;
}

.text-input{
	appearance: none;
	border-radius: 0;

	border: 0;
	z-index: 1;
    height: 8px;
	background-color: transparent;
	border-bottom: 2px solid #eee;
	font: inherit;
	transition: 0.25s ease;
}

.text-input:focus,
.text-input:valid{
    outline: 0;
    border-bottom-color: var(--light-pink);
    height:16px;
}
.text-input:focus + label,
.text-input:valid + label{
    color: var(--light-pink);
    transform: translateY(-1rem);
}
