form,.form-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    height: 100%;
    width: 100%;
	gap: 2.2rem;
    flex:1;
}

.form-col>h3{
    width: 100%;
}
.dynamic-col{
    overflow-y:scroll;
    justify-content: flex-start;
    max-height: 120px;
    padding-right: 16px;
}

.form-row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2.2rem;
    width: 100%;
}

.form-row.align-center{
    align-items: center;
}
.form-row.justify-end{
    justify-content: flex-end;
}

.form-row.tight{
    gap:8px;
}

.transparent-add-button{
    justify-self: flex-end;
}

@media screen and (max-width: 768px) {

    .dynamic-col{
        max-height: 300px;
    }
    .resp-col{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}