form,.form-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    height: 100%;
    width: 100%;
	gap: 2.2rem;
    flex:1;
}

.form-col>h3{
    width: 100%;
}
.dynamic-col{
    overflow-y:scroll;
    max-height: 120px;
}

.form-row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2.2rem;
    width: 100%;
    height: 100%;
}

.transparent-add-button{
    justify-self: flex-end;
}