.image-container.background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

@media screen and (max-width: 768px) {
.image-top>.image-container{
    background-position: 0% 5%;
    background-repeat: no-repeat;
}
}